.contact-container {
  display: grid;
  place-items: center;
}

.contact-wrapper {
  width: fit-content;
  display: flex;
  gap: 2rem;
}

.contact-wrapper a {
  background: var(--secondary-color);
  border: 2px solid transparent;
  font-size: 3.5rem;
  transition: var(--transition);
  padding: 1.5rem;
  border-radius: 1.5rem;
  color: var(--bg-color);
}

.contact-wrapper a:hover {
  background: transparent;
  border-color: var(--white);
  color: var(--white);
}

/* ========= Media Queries style ============ */

@media (max-width: 500px) {
  .contact-wrapper {
    gap: 1.5rem;
  }

  .contact-wrapper a {
    padding: 1rem;
    font-size: 3rem;
    border-radius: 1rem;
  }
}
